<!DOCTYPE html>
<html>
<style>
    h1 {
  color: aliceblue;
  text-align: center;
}
      h2 {
  color: aliceblue;
  text-align: center;
}
    p {
  color: aliceblue;
  text-align: center;
}
    body {
        background-color: grey;
}
</style>
<body>
<h1><u>About Parkoslot</u></h1>
<p>This is a helping hand for finding your parking slot.<br>It will help you to park your car in a safe place and ensure a budget friendly booking at any time.<br>If you want a perfect and safest place to park your car then parkoslot will definitely your best choice .</p>
<h1><u>About Us</u></h1>
<h2>return "2E1"</h2>
<p>1.Tahsin Tarannum Chowdhury(C191227)<br>2.Shafia Nur Huma(C191203)<br>3.Naza Rahida Siddiqe Priya (C191237)</p>
</body>
</html>